@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

:root {
    --gradient: linear-gradient(to right, #5de0e6, #004aad, #776c7f );
    --bg-geral: #125770;
    --bg-secundary: #3fa2b7;
    --element-decoration: #3fa2b7;
    --navBar-color: rgba(0, 0, 0, 0.459);
}

html,
body {
    width: 100vw;
    background: var(--bg-geral);
    font-family: "Fira Code", monospace;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

section {
    width: 100dvw;
}

@layer components {
    .section {
        @apply px-7 md:px-10 ;
    }

    .section-layout {
        @apply md:flex md:flex-row flex-col items-center justify-center w-full min-h-screen;
    }

    .h1 {
        @apply text-4xl text-amber-100 font-bold;
    }

    .p {
        @apply text-2xl text-amber-100;
    }

    .btn {
        @apply 
         cursor-pointer 
         md:hover:bg-amber-100 
         md:hover:text-black 
         bg-black 
         md:transition-colors duration-700 ease-in-out 
         md:px-35 px-15 
         mb-15 
         md:pt-5 pt-4 
         md:pb-5 pb-4 
         md:rounded-full rounded-2xl 
         md:ml-0 
         ml-10 
         text-amber-100 
         md:text-3xl text-xl 
         md:tracking-widest tracking-wide;
    }

    /*Hero Section Start*/
    .span-hero-h1 {
        @apply md:tracking-tighter;
    }

    .hero-section {
        background-image: linear-gradient(to right, #2f7275, #003983, #494150);
    }

    .hero-img {
        @apply md:w-[100rem] w-[20rem] ml-10 md:ml-0 md:pl-5 relative;
    }

    .hero-img-hover {
        @apply 
         absolute
         -inset-4
        md:bg-amber-200
         md:rounded-full
         md:blur-2xl
         md:opacity-60
         md:transition-transform duration-900
         md:group-hover:scale-110 
         z-0
    }

    .hero-p {
        @apply mb-10 text-2xl ;
    }

    .hero-h1 {
        @apply mb-5 md:text-6xl text-4xl;
    }
    /*Hero Section Ends*/
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}
